@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --contexify-menu-bgColor: rgba(40, 40, 40, 1);
  --contexify-separator-color: #4c4c4c;
  --contexify-item-color: #fff;
  --contexify-activeItem-color: #fff;
  --contexify-activeItem-bgColor: #3498db;
  --contexify-activeItem-danger: #ff2323;
  --contexify-textItem-danger: #ff6b6b;
  --contexify-rightSlot-color: #6f6e77;
  --contexify-activeRightSlot-color: #fff;
  --contexify-arrow-color: #6f6e77;
  --contexify-activeArrow-color: #fff;
}

.filesbar-scroll {
  overflow: hidden;
}
.filesbar-scroll:hover {
  overflow-x: auto;
}

.filesbar-scroll::-webkit-scrollbar {
  height: 4px;
  position: absolute;
}

.filesbar-scroll::-webkit-scrollbar-track {
  background: transparent;
  position: absolute;
}

.filesbar-scroll::-webkit-scrollbar-thumb {
  background: rgba(158, 158, 158, 0.267);
  position: absolute;
}

.contexify_item:not(.contexify_item-disabled).danger > .contexify_itemContent,
.contexify_item:not(.contexify_item-disabled).danger > .contexify_itemContent {
  color: var(--contexify-textItem-danger);
}
.contexify_item:not(.contexify_item-disabled) > .contexify_itemContent,
.contexify_item:not(.contexify_item-disabled) > .contexify_itemContent {
  margin: 4px auto;
}

.contexify_item:not(.contexify_item-disabled).danger:focus
  > .contexify_itemContent,
.contexify_item:not(.contexify_item-disabled).danger:hover
  > .contexify_itemContent,
.contexify_submenu-isOpen,
.contexify_submenu-isOpen > .contexify_itemContent {
  background-color: var(--contexify-activeItem-danger);
  border-radius: var(--contexify-activeItem-radius);
  color: var(--contexify-activeItem-color);
}
